*
!.gitignore
!.gitlab-ci.yml
!**.md
!**.c
!**.h
!public-tests/
!public-tests/*.in
!public-tests/*.out
!public-tests/Makefile
!p1-private-tests/
!p1-private-tests/*.in
!p1-private-tests/*.out
!p1-private-tests/Makefile
!p1-public-tests/
!p1-public-tests/*.in
!p1-public-tests/*.out
!p1-public-tests/Makefile
!p2-private-tests/
!p2-private-tests/*.in
!p2-private-tests/*.out
!p2-private-tests/Makefile
!p2-public-tests/
!p2-public-tests/*.in
!p2-public-tests/*.out
!p2-public-tests/Makefile
